*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F1F2F4;
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    height: 7vh;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#bars{
    display: none;
}
#logo{
    display: flex;
    flex-direction: column;
}

.logo_text{
    color: #2A55E5;
    font-weight: 800;
    font-size: 25px;
    font-style: italic
}

.logo_subtext{
    font-size: 12px;
}

#logo_plus{
    color: #FFC200;
}

#logo_plus::after{
    content: "â­";
}

#searchBox{
    height: 5vh;
    background-color: #F0F5FF;
    display: flex;
    align-items: center;
    width: 40vw;
    border-radius: 6px;
    position: relative;
}

#searchBox input{
    width: 100%;    
    background-color: inherit;
    outline: none;
    padding-left: 12px;
    border: none;
    font-size: large;
}

#searchBox i{
    color: #7B7E82;
    font-size: 14px;
    /* position: absolute; */
    /* left: 5px; */
    padding: 8px;
    z-index: 1;
    /* font-weight: 100; */
}
.login-box{
    position: relative;
    

}

.login-btn{
display: flex;
gap: 5px;
align-items: center;
padding: 10px;
border-radius: 12px;
justify-content: center;
}

.login-menu{ 
    z-index: 1;
    display: none;
    position: absolute;
    top: 45px;
    font-size: 30px;
    padding-left: 20px;
    width: 300px;
    height:max-content;
    background-color: #fff;
    border-radius: 8px;

}



.login-box:hover{
    .login-menu{
    display: block;
   }

   .angle{
     transition: all 1s linear ease;
    transform: rotateZ(180deg);
   }
   .login-btn{
    background-color: #2A55E5;
    color: white;
   }
}

#category-bar{
    
    margin: 10px ;  
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(9 , 128px);
    gap: 10px;
    background-color: #ffff;
    padding: 20px;
    overflow: scroll;
}

.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-text{
    margin-top: 10px;
    font-weight: 500;
}

main{
    margin-left: 150px;
    margin-right: 150px;
}

#category-bar::-webkit-scrollbar{
    display: none;
}


.carousel-container{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-wrapper{
    display: flex;
    transition: all 0.5s ease-in-out;
}

.carousel-slide{
    width: 100%;
    height: 280px;
    flex-shrink: 0;
}

.carousel-slide img{
    object-fit: cover;
}

.carousel-btn{
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    top: 50%;
    width: 47px;
    height: 104px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    z-index: 10;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}

.carousel-btn:hover{
    background-color: rgba(255, 255, 255, 1);
}



.prev{
    left: 0;
}

.next{
    right: 0;
    
}

.dot-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    z-index: 10;
    display: flex;
    gap: 8px;

}


.carousel-dot{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    padding: 0;

}

.carousel-dot.active {
    background-color: #fff;
}


#topDeals{ 
    margin-top: 20px;
    max-width: 100%; 
    background-color: #ffff;
    padding: 1.5rem;
    max-height: 350px;
}

.cards-container{
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(8 , 220px);
    grid-template-rows: 400px;
    overflow: auto;
    gap: 15px;
    
}

.cards-container::-webkit-scrollbar{
    display: none;
}

.card{
    padding: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.card img{
    object-fit: contain;
    height: 150px;
    width: 150px;
    transition: all 0.3s;
}

.card img:hover{
    transform: scale(1.05);
}

.card span:last-child{
    font-weight: 600;
}

















@media  (max-width : 596px) {
    nav{
        justify-content: center;
        gap: 8px;
    }

    #bars{
        display: block;
        margin-right: 30px;
    }

    /* #category-bar{
        grid-template-columns: repeat(2 , 1fr);
    } */
    
}


@media  (max-width : 768px) {
    
    #searchBox{
        display: none;
    }

    #topDeals{
        max-width: 100%;
        max-height: max-content;
    }
     #topDeals > h2{
        margin-bottom: 20px;
     }

    .cards-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8 , 1fr);
        width: 100%; 
    }

    .card{
        flex-direction: row;
        width: 100%;
        border-bottom: 2px solid #E0E0E0;
        padding-bottom: 25px;
    }

    .card img{
        height: 3rem;
        width: 3rem;
    }

}

@media (max-width : 1200px) {
    .become_a_seller_text{
        display: none;
    }
    .cart_text{
        display: none;
    }

    .nav{
        padding: 30px;
    }

    main{
        margin: 10px 10px;
    }

    /* #category-bar{
        grid-template-columns: repeat(4 , 1fr);
    } */
}
